.breadcrumb {background: #222;
   border: 0px solid;
   padding-top:13px;
 }
/* .breadcrumb li {font-size: 18px;} */
.breadcrumb li {font-style: italic;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}


#mainNav .navbar-nav>li.b-item>a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  padding: 5px 5px;
  color: #fff;
 }

.navbar-brand {
  min-width: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: white !important;
}
.navbar-nav {
  align-items: center;
}
#mainNav {
  background-color: black;
}
.nav-link {
  color: white !important;
}

.dropdown.show .dropdown-menu{
  z-index: 50000;
}
/* @media screen and (max-width: 599px){ chico */
  
  #mainNav>.container {
   display:flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around !important;
   align-items: flex-start;
   /* max-height: 6em; */
   /* overflow-x: hidden; */
    justify-content: center;
  }
   /* #mainNav>.container>ul {
   display:flex;
   flex-wrap: wrap;
  }  */
  /* #mainNav {
   background-color: red !important;
 } */

/* } */

/* @media screen and (min-width: 600px){ /* medio y grande */

  /* #mainNav>.container {
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around !important;
      align-items: flex-start;
     
       justify-content: center;
     }
  }

    #mainNav>.container>ul {
   display:flex;
   flex-wrap: wrap;
  }  
  
} */
/* Todos los tamaños */

 .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

header.reghead {
  background-color: #868e96;
  min-height:4rem;
}


/* para las fichas */
/* Definición de variables q se usan más abajo */
:root{
  --normal-zone-color: #aacccc;
  --selected-zone-color: #aabbbb;
  --cursor-color: #337ab7;
  --popup-back-color: whiteSmoke;
  --normal-zone-opacity:0.6;
  --selected-zone-opacity:0.4;
  --widthDispImg:90%;
  --widthSvg:1840;
  --heightDispImg:1277;
  --heightSvg:1277;
  --z-base:1000;
}


svg {
  z-index:calc(var(--z-base) + 20);  !important;
  height: 100%;
}
.zone.draggable {
  cursor: move;
}

text.draggable {
  cursor: pointer;
}

.grip {
  font-family: "FontAwesome";
}

.owlClassSelector {
  display:inline-block;
  border: 1px;
}

.card-body {
  min-height: 10em;
  overflow-y: scroll;
}

.propForm {
  left:52%;
  z-index: calc(var(--z-base) + 100)  !important;
  display: none;
  /* top:106px;
  bottom:55px; */
}


.controlButton {
  width: 2em;

}
.dispForm {
  display:inline-grid;
  border: 1px;
  height:2em;
  font-size:20pt;
  padding-top: 5pt;
}
.zone:not(.localSymbol) {
  fill: var(--normal-zone-color);
  opacity: var(--normal-zone-opacity);
}
circle.zone {
  fill: #2222aa;
  opacity:0.75;
}
circle.zone:hover {
  fill: #2277aa !important;
  opacity:0.75 !important;
}
.zone.onFormOpen{
  fill: var(--selected-zone-color);
  opacity: calc( var(--selected-zone-opacity) - 0.185 ) !important;/* ${this.svgOpts.selectedColor.opacity-0.1} !important; */
}

.zone.onFormOpen:hover {
  fill: var(--selected-zone-color);
}
.zone:not(.onFormOpen):hover {
  fill: var(--selected-zone-color);
  opacity:var(--selected-zone-opacity);
}
.localSymbol {
  fill: "#000000" !important;

}


.alpaca-form-buttons-container {
  /* display: flow-root; */
  display: inline-block !important;
/*    border: 1px solid red;
 */
}
.alpaca-field-text {
  display: block;
}


/* Bootstrap extensions classes */
.w-10 {
  width:10%;
}
.w-20 {
  width:20%;
}
.w-30 {
  width:30%;
}
.w-40 {
  width:40%;
}
.w-60 {
  width:60%;
}
.w-70 {
  width:70%;
}
.w-80 {
  width:80%;
}
.w-90 {
  width:90%;
}
/* Base 1/3 */
.w-1-3 {
  width:33.33%;
}
.w-2-3 {
  width:66.66%;
}
.bootstrap-datetimepicker-widget {
  z-index: calc(var(--z-base) + 500);  !important;
}

.sepNext {
  border-bottom: 1px solid;
  padding-bottom: 2px;
}
/* typeahead - Autocomplete */

.tt-menu {
     max-height: 150px;
     overflow-y: scroll;
     z-index: calc(var(--z-base) + 2000); ;
     background-color: var(--popup-back-color);
  }

  .tt-cursor {
    background-color: var(--cursor-color);
    color:white;
  }

  .ml-2 {
    margin-left: 2em;
  }

  .italica {
    font-style: italic; 
  }
/*  text-size */
  .text-down-size-10 {
    font-size:90%
  }
  .text-down-size-20 {
    font-size:80%
  }
  .text-down-size-30 {
    font-size:70%
  }
  .text-down-size-40 {
    font-size:60%
  }
  .text-down-size-50 {
    font-size:50%
  }
  .text-down-size-60 {
    font-size:40%
  }
  .text-down-size-70 {
    font-size:30%
  }
  .text-down-size-80 {
    font-size:20%
  }
  .text-down-size-90 {
    font-size: 10%
  }

  /* Colores especiales */
  a.text-white {
    color: white !important;
  }
  body
  {
    padding-top: 0 !important;
    padding-bottom:0 !important;
    min-height:100% !important;
    height:auto;
   /*  height:110vh; */
  }
  
  .list-group-item {
    margin-bottom: 0 !important;
  }
  .jumbotron {
    margin-bottom: 0 ;
  
    /* min-height: 100%; */
    /* padding-bottom:0;
    padding-top:0; */
  }
  .scroll-y {
    overflow-y: scroll;
  }
  
  .btn-expand[aria-expanded="false"]::after {
      content: "»";
    }
    .btn-expand[aria-expanded="true"]::after {
      content: "«";
    }
    .btn-expand:not([aria-expanded="true"])::after {
      content: "»";
    }

  .border-1 {
    border-width: 1px !important;
  }
  .border-2 {
    border-width: 2px !important;
  }
  .border-3 {
    border-width: 3px !important;
  }
  .border-4 {
    border-width: 4px !important;
  }
  .border-5 {
    border-width: 5px !important;
  }
  .border-6 {
    border-width: 6px !important;
  }
  .border-7 {
    border-width: 7px !important;
  }

  .clearboth {
    clear:both;
  }

  .fitContent {
    min-height: fit-content;
  }
  /* nav {
    min-height:5vh;
  } */
 
 
  .annotBlock {
    visibility: hidden;
    /* display: none; */
  }
  .annotBlock .controlParent {
  padding-left:2em;
 /*  visibility: inherit; */
}

.dispImg {
    /* border:1px solid black; */
    position:relative;
    display:inline-block;
}
.dispImg.onFormOpen {
  width:55%;
 /*  visibility:hidden; */
}
.dispImg:not(.onFormOpen) {
  width: var(--widthDispImg);
  height: var(--heightDispImg);
}


/* SECCIONES DE PRESENTACION */

/*
 header {
    min-height:55px ;
    height:55px;
  }

main {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

*/

/* footer {
/*     margin-top: 10px !important;
  
  padding-top: 0 !important;
    padding-bottom:0 !important;
*/
  } */

/* CLASES PARA TEMPLATES DE ALPACA */
.divContainerHidden {
	border:1px solid grey;
	border-radius:5px;
	padding:15px;

}
.legendContainerHidden {
	font-size:1.25rem;
}
.newLine {
  clear:both;
}
/* BOtones del summernote */
.note-btn {
  padding: 5px !important;
  font-size:10px !important;
}
/* Para arreglar el summernote. La diferencia de la posición del editor. */
.note-editable p {
  margin-bottom:0px;
  margin-top:0px;
}
/* Configuración de los fonts para la nueva versión (blog) */
/* body {
 font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; 
} */


/* #loginForm {
  height: 15rem !important;
  top: 15% !important;
  border-radius: 7px !important;
} */


/*
 *
 * login-register modal
 * Autor: Creative Tim
 * Web-autor: creative.tim
 * Web script: http://creative-tim.com
 * 
 */
 
/*  Shake animation  */

@charset "UTF-8";

.animated {
  -webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.hinges {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
}

.animated.slow {
	-webkit-animation-duration: 3s;
	   -moz-animation-duration: 3s;
	     -o-animation-duration: 3s;
	        animation-duration: 3s;
}

.animated.snail {
	-webkit-animation-duration: 4s;
	   -moz-animation-duration: 4s;
	     -o-animation-duration: 4s;
	        animation-duration: 4s;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

.login .modal-dialog{
    width: 350px;
}
.login .modal-footer{
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}
.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
/*     padding: 11px 15px; */
}
.login .modal-body{
/*     background-color: #eeeeee; */
}
.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}
.login .division .line.l {
    left: 0;
}
.login .division .line.r {
    right: 0;
}
.login .division span {
    color: #424242;
    font-size: 17px;
}
.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle{
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}
.login .social .circle .fa{
    font-size: 16px;
}
.login .social .facebook{
    background-color: #455CA8;
    color: #FFFFFF;
}
.login .social .google{
    background-color: #F74933;
}
.login .social .github{
    background-color: #403A3A;
}
.login .facebook:hover{
    background-color: #6E83CD;
}
.login .google:hover{
    background-color: #FF7566;
}
.login .github:hover{
    background-color: #4D4D4d;;
}
.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.login .btn-login, .registerBox .btn-register{
    background-color: #00BBFF;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 5px auto 0;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}
.login .btn-login:hover, .registerBox .btn-register:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}
.login .form-control{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-top: 5px;
}
.login .form-control:hover{
    background-color: rgba(0,0,0,.16);
}
.login .form-control:focus{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0,0,0,0.23);
    color: #FFFFFF;
}
.login .form input[type="text"], .login .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}


@media (max-width:400px){
    .login .modal-dialog{
        width: 100%;
    }
}

.big-login, .big-register{
    background-color: #00bbff;
    color: #FFFFFF;
    border-radius: 7px;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.big-login:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}
.big-register{
    background-color: rgba(0,0,0,.0);
    color: #00bbff;
    border-color: #00bbff;
}
.big-register:hover{
    border-color: #00A4E4;
    color:  #00A4E4;
}

.alert-fixed {
  position:fixed; 
  top: 50px; 
  left: 0px; 
  width: 100%;
  z-index: calc(var(--z-base) + 1000); 
  border-radius:0px
}
.login {
  z-index: calc(var(--z-base) + 1010); ;
}



/* Luisa */

.luisa-portada {
  color: white;
  margin-top: 10px;
  text-align: justify;
}

.luisa-portada-bkg {
  background-image:url("../../image/LuisaRep3.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  width:100%;
  z-index:-5 !important;
  position: fixed;
  left:0;
  top:0;
  height:100%
}
.luisa-portada-sombra {
  background-color:rgb(54, 53, 53);
  opacity:0.8;
  width:100%;
  z-index:-1 !important;
  position:fixed;
  left:0;
  top:0;
  height:100%;
}
 body {
   background-color: grey;
 }
.luisa-portada a{
  color: white;
}

.site-heading .emph-letter {
  font-weight: bold !important;
  font-size: 110% !important;
  color: white;
}
.luisa-spacer {
  height: 50px;
}
.site-heading.luisa-sh {
  height: 50px !important;
  color:white;
  text-align: center;
  margin: 50px;
  width:100%;
}
.overlay {
  height:100px;
}
.captcha-out {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width: 100% !important;
  border: solid 2px white;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  border-radius: 10px;
}

.captcha-block {
  padding: 10px; 
}

.captcha-img {

}
.captcha-form-controls {
  text-align: center;
  margin-top: 10px;
}
.captcha {
 width: inherit;
}

.captcha-ctx {
  text-align: center;
}
.luisa-about {
  color: rgb(30,30,50);
  text-align: justify;
}
/* Para el about */
.luisa-about h6.section-heading {
  font-size: 28px;
  font-weight: 0 !important;
}

.luisa-about h7.section-heading {
  font-size: 24px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  padding-bottom: 5px;
  padding-top: 5px;
}

.luisa-about h8.section-heading {
  font-size: 20px !important; 
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}

.luisa-about .list-group-item {
  background-color:transparent;
  font-size: 20px;
  font-family: Lora, "Times New Roman", serif;
  border: none;
}

.luisa-portada-sombraClara {
  background-color:rgb(200, 200, 200);
  opacity:0.8;
  width:100%;
  z-index:-1 !important;
  position:fixed;
  left:0;
  top:0;
  height:100%;
}

.ayuda {
  color: white;
  line-height:1.5;
  border: 1px;
  border-color: white;
  border-style: solid;
  padding:10px;
  text-align:justify;
  display: block;
  font-size: 12pt;
  border-radius: 10px;
}

.ayuda a  {
  color: inherit;
  text-decoration: underline ;
}
.luisa-portada .ayuda {
  color: white;
  border: none;
  font-weight: bold;
  line-height:1.5;
  padding:10px;
  text-align:center;
  display:block;
}
#frente {
  width: 80vw;
}
/* STATUS */
.status {
  margin-top: 75px;
}
.dashboard {
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  padding-bottom: 20px;
}

.dashCell {
  padding: 5px;
  text-align: center;
  display: table-cell;
}

.dashLine {
  display:flex;
}

.asCol {
  flex-direction : column !important;
}

.asRow {
  flex-direction : row !important;
}

.dashLine.asRow {
  justify-content: space-around;
}

.dashSpacer {
  width: 25px;
}

.dashDataContainer {
  display: flex;
  overflow: auto;
}

#tableHoja  .dashLine {
  display: table-row !important;
  min-width: 100%;
  overflow: auto;
}

#tableHoja  .dashCell {
  width: 20% !important;
  overflow: auto;
}

#tableHoja  .dashContainer {
  display: table !important;
  overflow: auto;
}

#tableHoja {
  display:table !important;
}
#dashHeaderRow {
  min-width: 205px;
}

#dashHeaderRowHoja {
  min-width: 205px;
  display: table-row !important;
}

#dashDataHoja {
  min-width: 205px;
  display: table-row !important;
}


/*
.status h3 {
  padding:5px;
}
*/
.overAuto {
  width:90vw !important;
  overflow:auto !important;
}

.masterhead>.container{
  margin-left:10%;
  margin-right:10%;
}

.transparent-1 {
  font-weight: bold !important;
  color: white;
  padding-top:1em;
  background: transparent;
}

.site-heading {
  margin-bottom: 50px;
}
#langSelector {
  color: white;
  background-color:black;
  font-size: 60%;
}

.slang .active {
  background-color: blue !important;
  color: white !important;
}