h1,h2,h3      { text-align: center; font-weight:bold; color: white; }
body    { background-color:#999; width:100%; font-size:150%; }
#fondo  { background-color:#aaa;  margin:auto; }
#frente { margin:auto;  max-width:1024px; padding:10px; background-color:ddd;  }
#figurita { display:none; }
.figuron { text-align:center; margin:auto; }
table {  text-align:center; margin:auto; }
.captcha { max-width: 250px; font-size: 125%; font-family: serif; }
#enviar { text-align:center; margin:3px; font-size:150%; }
#ayuda { margin:auto; font-size:150%; }
#contexto { width: 1000px; }
